In [10]:
import pandas as pd

In [11]:
sisk_df = pd.read_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')
sisk_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_28260\3171686001.py:1: SyntaxWarning: invalid escape sequence '\.'
  sisk_df = pd.read_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')

             Title  Year         Director                   Showtime
0       GRAND TOUR  2024     Miguel Gomes  2025-04-18T22:45:00+00:00
1  KILLER OF SHEEP  1978  Charles Burnett  2025-04-18T23:00:00+00:00
2     A FIDAI FILM  2024   Kamal Aljafari  2025-04-19T01:00:00+00:00
3  KILLER OF SHEEP  1978  Charles Burnett  2025-04-19T01:30:00+00:00
4  KILLER OF SHEEP  1978  Charles Burnett  2025-04-19T17:30:00+00:00

In [12]:
mb_df = pd.read_pickle('..\..\data\pkl\musicbox\musicbox_showtimes.pkl')
mb_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_28260\540407013.py:1: SyntaxWarning: invalid escape sequence '\.'
  mb_df = pd.read_pickle('..\..\data\pkl\musicbox\musicbox_showtimes.pkl')

,Title,Year,Director,Showtime
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18T18:00:00+00:00
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T19:00:00+00:00
2,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T23:45:00+00:00
3,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18T20:00:00+00:00
4,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18T21:15:00+00:00

In [13]:
sisk_df['Theater'] = 'Siskel'
sisk_df.head()

             Title  Year         Director                   Showtime Theater
0       GRAND TOUR  2024     Miguel Gomes  2025-04-18T22:45:00+00:00  Siskel
1  KILLER OF SHEEP  1978  Charles Burnett  2025-04-18T23:00:00+00:00  Siskel
2     A FIDAI FILM  2024   Kamal Aljafari  2025-04-19T01:00:00+00:00  Siskel
3  KILLER OF SHEEP  1978  Charles Burnett  2025-04-19T01:30:00+00:00  Siskel
4  KILLER OF SHEEP  1978  Charles Burnett  2025-04-19T17:30:00+00:00  Siskel

In [15]:
mb_df['Theater'] = 'Music Box'
mb_df.head()

,Title,Year,Director,Showtime,Theater
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18T18:00:00+00:00,Music Box
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T19:00:00+00:00,Music Box
2,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T23:45:00+00:00,Music Box
3,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18T20:00:00+00:00,Music Box
4,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18T21:15:00+00:00,Music Box

In [16]:
merged_df = pd.concat([sisk_df, mb_df])
merged_df = merged_df.sort_values(by=['Showtime', 'Theater']).reset_index(drop=True)
merged_df

,Title,Year,Director,Showtime,Theater
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18T18:00:00+00:00,Music Box
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T19:00:00+00:00,Music Box
2,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18T20:00:00+00:00,Music Box
3,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18T21:15:00+00:00,Music Box
4,MULHOLLAND DRIVE,2001,David Lynch,2025-04-18T22:45:00+00:00,Music Box
...,...,...,...,...,...
489,THE FRENCH CONNECTION,1971,William Friedkin,2025-06-29T16:30:00+00:00,Music Box
490,KING KONG,1933,"Merian C. Cooper, Ernest B. Schoedsack",2025-06-29T17:00:00+00:00,Siskel
491,A STREETCAR NAMED DESIRE,2025,Benedict Andrews,2025-06-29T19:15:00+00:00,Siskel
492,FILMS FOR ONE TO EIGHT PROJECTORS,2008,Roger Beebe,2025-06-30T23:00:00+00:00,Siskel
493,42ND STREET,1933,Lloyd Bacom,2025-07-01T01:30:00+00:00,Siskel

In [9]:
merged_df['Showtime'] = pd.to_datetime(merged_df['Showtime'], utc=True, errors='raise')
print(merged_df.dtypes)
merged_df.head()

Title                    object
Year                     object
Director                 object
Showtime    datetime64[ns, UTC]
Theater                  object
dtype: object

,Title,Year,Director,Showtime,Theater
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18 18:00:00+00:00,Music Box
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18 19:00:00+00:00,Music Box
2,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18 20:00:00+00:00,Music Box
3,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18 21:15:00+00:00,Music Box
4,MULHOLLAND DRIVE,2001,David Lynch,2025-04-18 22:45:00+00:00,Music Box